{% extends 'base.html' %} 

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">order id</th>
      <th scope="col">material id</th>
      <th scope="col">quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for material in m_comp %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ material.id }}</a></td>
      <td>{{ material.order }}</td>
      <td>{{ material.material }}</td>
      <td>{{ material.quantity }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}